# Read excel file with multiple sheets into a dataframe

In [1]:
import pandas as pd
print('pandas:', pd.__version__)

pandas: 0.23.4

### generate excel file with multiple sheets

Please install package `openpyxl` when not installed with `conda install openpyxl` or `pip install openpyxl`.

In [2]:
!python ../script/create_excel.py 5 ../sourcedata/my_excel.xlsx

Excel file saved to disk with 5 sheets.

### read all sheets from excel file

In [3]:
# read excel file
data = pd.read_excel('../sourcedata/my_excel.xlsx', sheet_name=None)

In [4]:
# type
type(data)

collections.OrderedDict

In [5]:
# display data
data

OrderedDict([('2013',   region    Q1    Q2    Q3    Q4
              0  North  1270  1175  1573  1949
              1   East  1591  1376  1909  1245
              2  South  1415  1074  1475  1709
              3   West  1514  1600  1960  1411),
             ('2014',   region    Q1    Q2    Q3    Q4
              0  North  1840  1956  1610  1299
              1   East  1897  1119  1518  1714
              2  South  1814  1403  1115  1128
              3   West  1034  1169  1231  1376),
             ('2015',   region    Q1    Q2    Q3    Q4
              0  North  1290  1087  1479  1511
              1   East  1412  1615  1742  1793
              2  South  1025  1704  1286  1090
              3   West  1816  1909  1221  1355),
             ('2016',   region    Q1    Q2    Q3    Q4
              0  North  1546  1237  1872  1424
              1   East  1864  1531  1281  1905
              2  South  1837  1467  1345  1887
              3   West  1111  1054  1031  1277),
             ('2017',   region    Q1    Q2    Q3    Q4
              0  North  1205  1798  1261  1624
              1   East  1624  1848  1175  1499
              2  South  1115  1170  1417  1303
              3   West  1587  1327  1530  1231)])

### transform to dataframe

In [6]:
# create dataframe
df = pd.DataFrame()

In [7]:
# append sheets to dataframe
df = pd.DataFrame()
for sheet in data.keys():
    df_sheet = data[sheet]
    df_sheet['sheet'] = [sheet for _ in range(df_sheet.shape[0])]
    df = df.append(df_sheet, ignore_index=True)

In [8]:
# display data
df

   region    Q1    Q2    Q3    Q4 sheet
0   North  1270  1175  1573  1949  2013
1    East  1591  1376  1909  1245  2013
2   South  1415  1074  1475  1709  2013
3    West  1514  1600  1960  1411  2013
4   North  1840  1956  1610  1299  2014
5    East  1897  1119  1518  1714  2014
6   South  1814  1403  1115  1128  2014
7    West  1034  1169  1231  1376  2014
8   North  1290  1087  1479  1511  2015
9    East  1412  1615  1742  1793  2015
10  South  1025  1704  1286  1090  2015
11   West  1816  1909  1221  1355  2015
12  North  1546  1237  1872  1424  2016
13   East  1864  1531  1281  1905  2016
14  South  1837  1467  1345  1887  2016
15   West  1111  1054  1031  1277  2016
16  North  1205  1798  1261  1624  2017
17   East  1624  1848  1175  1499  2017
18  South  1115  1170  1417  1303  2017
19   West  1587  1327  1530  1231  2017